/*------------------------------- Generic Styles ------------------------------ */

body{
    background-color: white;
    margin:0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

a{
    color: #1a0dab;
    text-decoration: none;
}

a:hover{
    color: #1a0dab;
    text-decoration: underline;
}

a:visited{
    color: #1a0dab;
    text-decoration: underline;
}

div.buttons {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px;
}

.buttons a{
    background-color: #F2F2F2;
    border: 0px;
    border-radius: 3px;
    padding: 12px;
    width: 100px;
    margin: 10px;
    font-weight: bolder;
    color: rgb(120, 120, 120);
    text-decoration: none;
}

.buttons a:hover{
    border: 1px solid rgb(120, 120, 120);
}

/* ----------------------------- Top Nav styles styles -------------------------------- */

#top-toolbar{
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: right;
}

#top-toolbar a {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}

#top-toolbar .toolbarItem{
    margin-bottom: 20px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}

#top-toolbar .toolbarItem a, #top-toolbar .toolbarItem span{
    color: rgb(120, 120, 120);
    text-decoration: none;
    vertical-align: middle;
    margin-right: 5px; 
}

#top-toolbar .toolbarItem a:hover{
    font-weight: bolder;
}

#top-toolbar a img{
    height: 35px;
}
#sharing {
    position: absolute;
    top: 20px;
    left: 20px;
}
#sharing a{
    color: rgb(120,120,120);
}
/* ----------------------------------- Main search area styles---------------------- - */

#loogle-main{
    width: 550px;
    margin: 0 auto;
    margin-top: 14%;
}

div#search-container{
    margin-top: 35px;
}

#search-container input{
    width: 100%;
    height: 30px;
    
    padding: 3px 5px 3px 5px;
}

#search-container #extra{
    width:100%;
}


/* ------------------------------ Footer styles ------------------------------------- */
#footer-nav{
    width: 100%;
    background-color: #F2F2F2;
    position: fixed;
    padding: 10px;
    bottom: 0;
    margin: 0;
    vertical-align: middle;
    border-top: 1px solid #D4D4D4;
}

#footer-nav a{
    color: rgb(120, 120, 120);
    padding: 5px;
    float: left;
}

#footer-nav a:last-child{
    float: right;
    margin-right: 20px;
}

/* ------------------------------ Searchbox styles ------------------------------------- */

#search-container input#txtSearch{

}