/*
* Font – Rockwellfont from the Serif family.
* Colours – Primary: #98684B, Secondary: #232323, Tertiary: #FFFFFF, Quandary: #F6F6F6
*/

/* ------------------- Main Styles ------------------------------ */

@font-face {
   font-family: rockwell;
   src: url(../fonts/rockwell.ttf);
}

body{
    color: #98684B;
    font-family: rockwell;
}

a{
    color: #98684B;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
}
h2{
    margin: 0;
    margin-left: 0;
    padding: 20px;
    padding-bottom: 5px;
    background: #232323;
    /* text-decoration: underline; */
    border-bottom: 2px solid;
    margin-bottom: 20px;
}
h3{
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0;
    border-top: 2px solid;
}
.nobullets{
    list-style-type: none;
    padding:0; 
    margin:0;
}

a.btn.btn-primary{
    margin: 0 auto;
    min-width: 100px;
    display: block;
    background-color: #98684B;
    border: 0;
}
a.btn.btn-primary:hover{
    background-color: white;
    color: #98684B;
}

/* ------------------- Utils ------------------------------ */
.hide{
    display: none;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* ------------------- Header Nav ------------------------------ */

.navbar-nav li.logo:hover{
    background-color: transparent;
}

#logo img{
    width: 65px;
    margin-top: -15px;
}
nav.navbar-collapse{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-nav li a{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-collapse {
  text-align: center;
  background-image: -webkit-linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
background-image: -o-linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
background-image: linear-gradient(#232323, #232323 60%, transparent 0%, transparent 100%);
}

@media (max-width: 768px) {
    .navbar-nav .logo {
        display:none;
    }
    #subnav{
         display:none;
    }
    #banner{
        display:none;
    }
    .navbar-collapse {
  text-align: center;
  background-image: -webkit-linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
background-image: -o-linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
background-image: linear-gradient(#232323, #232323 100%, transparent 0%, transparent 100%);
}
    
}

.navbar-nav .logo {
    opacity: 1;
    vertical-align: middle;
}

#subnav{
    width: 100%;
    background-color: #232323;
    padding: 5px;
    padding-left: 30px;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 9;
}

#subnav .subItem{
    display: inline;
    padding-left:30px;
}

#subnav #search-field{
    display: inline;
    margin-right: 20px; 
}
#subnav #search-field input{
    border: 0;
    border-radius: 15px;
    padding: 2px;
    padding-left: 15px;
}

#cart{
    margin-right: 20px;
}

/* ------------------- Footer Nav ------------------------------ */
#to-top{
    width:100%;
    background-color: #232323;
    color: #98684B;
    display: block;
    text-decoration: none;
}

#footer{
    width:100%;
    background-color: #232323;
    color: #98684B;
}

#footer .row .card{
    padding: 20px 20px 20px 60px;
}

/* ------------------- Content ------------------------------ */
section{
    padding-top: 20px;
}
#banner{
    width:100%;
    position: relative;
}

a#down-scroll{
    position: absolute;
    left:50%;
    top:70%;
    margin-left: -30px;
}
#banner #banner-text{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
}

#banner #banner-text h1{
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
}

#banner #banner-text h2{
    text-align: center;
    font-size: 45px;
    background-color: transparent;
    border: 0;
}

#thumb-cards{
    width: 100%;
    background-color: #232323;
    padding: 30px;
    margin-top: -20px;
}

.thumbnail{
    min-height: 450px;
    background-color: #232323; 
}

.thumbnail div{
    color: #98684B !important;
}
    